@keyframes cool{
    from{box-shadow: 1px 1px 38px coral;}
    to{box-shadow: 1px 1px 38px cyan;}
}
canvas
{
animation-name: cool;
animation-duration: 8s;
animation-iteration-count: infinite;
border-radius: 25px;
}